body{

    background:#f8fbff;

}

section{

    min-height:80vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

}

.btn{

    border-radius:12px;

}
.card{

    transition:0.3s;

    border-radius:20px;

}

.card:hover{

    transform:translateY(-10px);

}